EXPO_PUBLIC_WDK_INDEXER_BASE_URL=https://wdk-api.tether.io
EXPO_PUBLIC_WDK_INDEXER_API_KEY=PUT_WDK_API_KEY_HERE
EXPO_PUBLIC_TRON_API_KEY=PUT_HERE
EXPO_PUBLIC_TRON_API_SECRET=PUT_HERE

# Find Spaces: BIP path scan (m/{bip}'/{coin}'/{account}'/0/index…)
EXPO_PUBLIC_SPACES_ACCOUNT_NUMBER=0
EXPO_PUBLIC_SPACES_ACCOUNT_GAP=3